.img-resize{
    display: block;
    width: 100%;
    height: 200px;
    padding:1px;
    border:1px solid #021a40;
    background-color:#ff0;
}

.navbar-default {
    border-color: red;
}

.img-details-center{
    width: 70%;
    height: auto;
    margin: 5px;
}

.col-xs-4 {
    width: 33.33333333%;
    float: left;
    position: relative;
    min-height: 1px;
    padding: 15px;
}
body  {
    background-image: url("background.jpg");
}

.label-color-white{
    color: #FFFFFF;
}
.input-group {
    text-align: center;
    margin: auto;
    margin-bottom: 2%;
}
.row-without-margin{
    margin-right: 0px;
    margin-left: 0px;
}
